# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
brace_checking/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
brace_checking/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
brace_checking/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
brace_checking/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
brace_checking/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
*.txt
brace_checking/cmake-build-debug/.cmake/api/v1/query/cache-v2
brace_checking/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
brace_checking/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
*.json
*.txt
brace_checking/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
brace_checking/cmake-build-debug/.ninja_deps
brace_checking/cmake-build-debug/.ninja_log
*.ninja
*.cmake
*.bin
*.check_cache
*.ninja
*.cbp
*.log
brace_checking/cmake-build-debug/Makefile
